
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Pledge - Cause</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>New Cause</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
   <form method="post" action="/pledge/add" enctype='multipart/form-data'>
        <p>
        <label for="cause">Coronavirus</label><br />
         <STYLE>A {text-decoration: none;} </STYLE>
         <p><a textarea="/">SARS-CoV-2 belongs to a family of single-stranded RNA viruses known as coronaviridae, a common type of virus which affects mammals, birds and reptiles.

In humans, it commonly causes mild infections, similar to the common cold, and accounts for 10–30% of upper respiratory tract infections in adults. More serious infections are rare, although coronaviruses can cause enteric and neurological disease. The incubation period of a coronavirus varies but is generally up to two weeks.

Previous coronavirus outbreaks include Middle East respiratory syndrome (MERS), first reported in Saudi Arabia in September 2012, and severe acute respiratory syndrome (SARS), identified in southern China in 2003. MERS infected around 2,500 people and led to more than 850 deaths while SARS infected more than 8,000 people and resulted in nearly 800 deaths. The case fatality rates for these conditions were 35% and 10%, respectively.

SARS-CoV-2 is a new strain of coronavirus that has not been previously identified in humans. Although the incubation period of this strain is currently unknown, the United States Centers for Disease Control and Prevention indicate that symptoms may appear in as few as 2 days or as long as 14 days after exposure. Chinese researchers have indicated that SARS-CoV-2 may be infectious during its incubation period</a>
          
        </p>
        <p>
        <label for="description">Coromavirus Description</label><br />
         <STYLE>A {text-decoration: none;} </STYLE>
         
         <p><a textarea="/"> The world is facing an unprecedented challenge with communities and economies everywhere affected by the growing COVID-19 pandemic. The world is coming together to combat the COVID-19 pandemic bringing governments, organizations from across industries and sectors and individuals together to help respond to this global outbreak. The outpouring of global solidarity and support sparked by this shared challenge has been phenomenal.

The World Health Organization (WHO) is leading and coordinating the global effort, supporting countries to prevent, detect, and respond to the pandemic.

Everyone can now support directly the response coordinated by WHO. People and organizations who want to help fight the pandemic and support WHO and partners can now donate through this cause program.</a>
         
        </p>
    <p> <img src="https://i1.wp.com/www.nfid.org/wp-content/uploads/2020/02/Coronavirus.png?resize=400%2C267&ssl=1" alt="PLEDGE"> <img src="https://static.scientificamerican.com/sciam/cache/file/2103B2A8-592F-41D6-82E145996208A1BE_source.jpg?w=590&h=800&A08F0C85-D968-4D9A-A9ADC9C34149FDC0" alt="PLEDGE" > </p>
    <p>
        <p>
         
        <label for="reason">Cause Reason</label><br />
         <p><a textarea="/">Donations received will go towards funding the activities of the Strategic Preparedness and Response Plan, which include among others:

Putting in place activities to Track and understand the spread of the virus;
          <p>Ensuring patients get the care they need, </p>
          <p>Buying and ship essential supplies such as masks, gloves and protective wear for frontline workers, </p>
          <p>Producing evidence based guidelines and advice, and make sure health workers and responders get the information and training to detect and treat affected patients, </p>
<p>Producing guidance for the general public and for particular groups on measures to take to prevent the spread and prevent themselves and others
 Accelerating efforts to develop vaccines, tests and treatments. </p>
          <p>Your donation is greatly appreciated in the global effort supporting the  ability of all countries to respond to COVID-19, especially where the needs are greatest and in countries with less access to global markets and lower resources. </p></a>
    
    </p>
    <p>
    <label for="cause">Ebola</label><br />
    <p><a textarea="/"> Ebola virus was first discovered in 1976 near the Ebola River in what is now the Democratic Republic of Congo. Since then, the virus has been infecting people from time to time, leading to outbreaks in several African countries. Scientists do not know where Ebola virus comes from. However, based on the nature of similar viruses, they believe the virus is animal-borne, with bats or nonhuman primates (chimpanzees, apes, monkeys, etc.) being the most likely source. Infected animals carrying the virus can transmit it to other animals, like apes, monkeys, duikers and humans.

The virus spreads to people initially through direct contact with the blood, body fluids and tissues of animals. Ebola virus then spreads to other people through direct contact with body fluids of a person who is sick with or has died from EVD. This can occur when a person touches these infected body fluids (or objects that are contaminated with them), and the virus gets in through broken skin or mucous membranes in the eyes, nose, or mouth. People can get the virus through sexual contact with someone who is sick with EVD, and also after recovery from EVD. The virus can persist in certain body fluids, like semen, after recovery from the illness.

Ebola survivors may experience side effects after their recovery, such as tiredness, muscle aches, eye and vision problems and stomach pain.</a>
    </p>
    <p> <img src="https://scx1.b-cdn.net/csz/news/800/2020/5f5621dc8b566.jpg" alt="PLEDGE"> <img src="https://www.europeanpharmaceuticalreview.com/wp-content/uploads/Ebola-virus-750x500.jpg" alt="PLEDGE" > </p>
    <p>
    <label for="description">Ebola Description</label><br />
    <p><a textarea="/"> Ebola virus disease (EVD) is a deadly disease with occasional outbreaks that occur primarily on the African continent. EVD most commonly affects people and nonhuman primates (such as monkeys, gorillas, and chimpanzees). It is caused by an infection with a group of viruses within the genus Ebolavirus:
     <p>Ebola virus (species Zaire ebolavirus)</p>
     <p>Sudan virus (species Sudan ebolavirus)</p>
     <p>Taï Forest virus (species Taï Forest ebolavirus, formerly Côte d’Ivoire ebolavirus)</p>
     <p>Bundibugyo virus (species Bundibugyo ebolavirus)</p>
     <p>Reston virus (species Reston ebolavirus)</p>
     <p>Bombali virus (species Bombali ebolavirus) Of these, only four (Ebola, Sudan, Taï Forest, and Bundibugyo viruses) are known to cause disease in people.</p>
     <p>Reston virus is known to cause disease in nonhuman primates and pigs, but not in people.</p>
     <p>It is unknown if Bombali virus, which was recently identified in bats, causes disease in either animals or people.</p> </a>
    </p>
    <p>
    <label for="Disaster"> Disaster; Earthquakes </label><br />
    <p><a textarea="/"> Earthquakes and volcanic eruptions are incredible and dramatic natural events. it causes lots of damages and loss of lives when it occur. many countries has experienced this deadly natural occurence all over the world. </a>
    </p>
    <img src="https://cdn.kqed.org/wp-content/uploads/sites/35/2019/10/03A-1020x574.jpg" alt="PLEDGE"> <img src="https://static.dw.com/image/52148088_303.jpg" alt="PLEDGE">
    <p>
    <label for="reason"> Reasons to support </label><br />
    <p><a textarea="/"> To prevent catastrophe, the international response must be significantly increased to support the incredible work led by DRC. The DRC, WHO and partner’s public health teams have provided an amazing response, but the situation is fragile and they need global support to ensure this outbreak is contained effectively. Wellcome is committed to helping the world tackle the Ebola, Coronavirus, Disaster(Earthquake) threat and we have made £450 available immediately to support the response. Further funds will be needed, and we are working with our global partners to address these needs.</a>
    </p>
        <p>
         
        <label for="support">Support from People</label><br />
         <STYLE>A {text-decoration: none;} </STYLE>
         
         <p><a textarea="/"> We all need to come together with one heart and help many countries going through alot, countries like Italy, US, has been seriously affected by the virus. we all need your support to make this happen. </a>
    </p>
    <p>
        <label for="firstname">First name</label><br />
          <input type="text" name="firstname" placeholder="donor firstname" value="" autofocus required />
        </p>
        <p>
          <label for="lastname">Last name</label><br />
          <input type="text" name="lastname" placeholder="donor lastname" value="" autofocus required />
        </p>
        <p>
        <label for="email">Email</label><br />
          <input type="email" name="email" placeholder="email address" value="" required>
        <p>
        <label for="fund">Fund Amount</label><br />
          <STYLE>A {text-decoration: none;} </STYLE>
         <p><a textarea="/"> For the cause, a total of £20,000 needs to be raised to help the affected countries. </a>
    </p>
        <p>
        <label for="avatar">Profile Picture</label><br />
          <input type="file" name="avatar" accept="image/*" />
        </p>
    <p>
     <label for="pledge">pledge support:</label>
  <select name="cause" id="pledge">
    <option value="pledge">£10</option>
    <option value="pledge">£20</option>
    <option value="pledge">£50</option>
   <option value="pledge">£100</option>
   <option value="pledge">£150</option>
   <option value="pledge">£200</option>
   <option value="pledge">£250</option>
   <option value="pledge">£300</option>
   <option value="pledge">£500</option>
   <option value="pledge">£1000</option>
   <option value="pledge">£1500</option>
   <option value="pledge">£2000</option>
   <option value="pledge">£5000</option>
   <option value="pledge">£10000</option>
  </select> 
    </p>
    <p>
     <label for="cause">select cause:</label>
  <select name="cause" id="pledge">
    <option value="pledge">coronavirus</option>
    <option value="pledge">ebola</option>
    <option value="pledge">disaster</option>
     </select>
    </p>
        <p>
        <label for="deadline">Deadline:</label>
        <input type="date" id="date" name="deadline">
        <p><input type="submit" value="Add New Donor"></p>
      </form>
		</main>
	</body>
</html>
